@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/destyle.css@2.0.2/destyle.css");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
.ChangeButtonsBg::before, .hd .nav__contact-btn::before, .hd .nav__contact-btn::after, .hdmob .navmob__contact-btn::before, .hdmob .navmob__contact-btn::after, .colle__btn::before, .colle__btn::after, .contact__btn::before, .contact__btn::after, .form__submit::before, .form__submit::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@-webkit-keyframes moveMenuLine {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes moveMenuLine {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes moveMenuLineHover {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveMenuLineHover {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes changeLocaBg {
  from {
    background-color: #eee6de;
  }
}

@keyframes changeLocaBg {
  from {
    background-color: #eee6de;
  }
}

@-webkit-keyframes changeLocaBg2 {
  to {
    background-color: transparent;
  }
}

@keyframes changeLocaBg2 {
  to {
    background-color: transparent;
  }
}

@-webkit-keyframes timeBar {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes timeBar {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes changeArrowsColor {
  0% {
    color: #9f2624;
  }
  16.7% {
    color: #fff;
  }
  33.333333% {
    color: #9f2624;
  }
  100% {
    color: #9f2624;
  }
}

@keyframes changeArrowsColor {
  0% {
    color: #9f2624;
  }
  16.7% {
    color: #fff;
  }
  33.333333% {
    color: #9f2624;
  }
  100% {
    color: #9f2624;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  font-family: "Shippori Mincho", serif;
  font-size: 1rem;
  font-smooth: smooth;
  -webkit-font-smooth: smooth;
  -ms-font-smooth: smooth;
  color: #5a494c;
  background: #eee6de url("../images/bg_texture.png") fixed;
}

img {
  width: 100%;
}

p + p {
  margin-top: 1em;
  line-height: 1.5em;
}

.sec-w {
  position: relative;
  width: calc(100% - 240px);
  height: 100vh;
  margin-left: auto;
}

.hd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100vh;
  z-index: 999;
  text-align: center;
  font-size: 1.125rem;
  color: #000;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hd__title {
  font-size: 1rem;
  text-align: left;
}

.hd__logo {
  width: 75%;
  margin-top: 64px;
}

.hd .nav {
  margin-bottom: 78px;
}

.hd .nav__list {
  margin-bottom: 88px;
}

.hd .nav__list li {
  margin-bottom: calc(1.5em - 6px);
  line-height: 1em;
}

.hd .nav__list li a {
  display: inline-block;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 6px;
}

.hd .nav__list li a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  border-bottom: 1px solid currentColor;
  -webkit-animation: moveMenuLine 0.4s forwards;
          animation: moveMenuLine 0.4s forwards;
  z-index: -1;
}

.hd .nav__list li a:hover::before {
  -webkit-animation: moveMenuLineHover 0.4s forwards;
          animation: moveMenuLineHover 0.4s forwards;
}

.hd .nav__contact-btn {
  display: inline-block;
  position: relative;
  width: 80%;
  font-size: 1.25rem;
  color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  overflow: hidden;
}

.hd .nav__contact-btn a {
  display: block;
  padding: 0.75em 1em;
}

.hd .nav__contact-btn::before {
  background: #9f2624 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hd .nav__contact-btn:hover::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.hd .nav__contact-btn::after {
  background: #b42b29 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hd .nav__contact-btn:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hd.change {
  color: #fff;
  background: #9f2624 url("../images/bg_texture.png") fixed;
}

.hd.change .nav__contact-btn {
  color: #5a494c;
}

.hd.change .nav__contact-btn::before {
  background-color: #fff;
}

.hd.change .nav__contact-btn::after {
  background-color: whitesmoke;
}

.hdmob {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 999;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.hdmob.change {
  background: #9f2624;
}

.hdmob.change .hdmob__logo {
  visibility: visible;
  opacity: 1;
}

.hdmob__top {
  margin-left: 8px;
  vertical-align: middle;
}

.hdmob__logo {
  visibility: hidden;
  opacity: 0;
  width: 56px;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.hdmob__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.hdmob__ham {
  position: relative;
  height: 64px;
  width: 64px;
  background: #9f2624;
}

.hdmob__ham span {
  position: absolute;
  width: 50%;
  height: 2px;
  left: 50%;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hdmob__ham span:first-child {
  top: 35%;
}

.hdmob__ham span:nth-child(2) {
  top: 50%;
}

.hdmob__ham span:last-child {
  top: 65%;
}

.hdmob .navmob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 64px;
  width: 100%;
  height: calc(100% - 64px);
  max-height: 0%;
  background: #d9ab42;
  text-align: center;
  font-size: 1.55rem;
  overflow: hidden;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.hdmob .navmob.open {
  max-height: 100%;
}

.hdmob .navmob--inner {
  width: 80%;
}

.hdmob .navmob__list {
  margin-bottom: 88px;
}

.hdmob .navmob__list li {
  margin-bottom: calc(1.5em - 6px);
  line-height: 1em;
}

.hdmob .navmob__list li a {
  display: block;
  width: 100%;
}

.hdmob .navmob__contact-btn {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: 1.25rem;
  color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  overflow: hidden;
  font-size: 1.55rem;
}

.hdmob .navmob__contact-btn a {
  display: block;
  padding: 0.75em 1em;
}

.hdmob .navmob__contact-btn::before {
  background: #9f2624 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hdmob .navmob__contact-btn:hover::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.hdmob .navmob__contact-btn::after {
  background: #b42b29 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hdmob .navmob__contact-btn:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main {
  width: 100%;
}

.hero__sitename {
  position: absolute;
  top: 45%;
  left: calc(50% - 140px);
  width: 70%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

.hero__sitename .sitename-img-1 {
  -webkit-animation: animate-svg-fill-1 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
  animation: animate-svg-fill-1 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

.hero__sitename .sitename-img-2 {
  -webkit-animation: animate-svg-fill-2 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s both;
  animation: animate-svg-fill-2 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

.hero__sitename .sitename-img-3 {
  -webkit-animation: animate-svg-fill-3 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both;
  animation: animate-svg-fill-3 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

.hero__sitename .sitename-img-4 {
  -webkit-animation: animate-svg-fill-4 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both;
  animation: animate-svg-fill-4 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

.hero__sitename .sitename-img-5 {
  -webkit-animation: animate-svg-fill-5 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s both;
  animation: animate-svg-fill-5 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

.hero__sitename .sitename-img-6 {
  -webkit-animation: animate-svg-fill-6 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
  animation: animate-svg-fill-6 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #5a494c;
  }
}

.hero__sitename .sitename-img-7 {
  -webkit-animation: animate-svg-fill-7 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
  animation: animate-svg-fill-7 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
}

.hero__bg {
  width: 100%;
  height: 100%;
  background: url("../images/bg_hero.png") no-repeat center;
  background-size: auto 90%;
  background-position: calc(50% - 140px) center;
}

.hero__catch {
  position: absolute;
  right: 10%;
  top: 8%;
  letter-spacing: 4px;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5em;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}

.hero__catch--2 {
  margin-top: 2em;
}

.hero__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 5%;
  color: #fff;
}

.hero__time {
  position: relative;
  display: inline-block;
  padding: 16px 32px;
  background: #9f2624 url("../images/bg_texture.png");
  letter-spacing: 1px;
  border-radius: 4px 0 0 4px;
}

.hero__time::after {
  content: "";
  position: absolute;
  right: -16.31206px;
  top: 50%;
  display: block;
  width: 32.62411px;
  height: 32.62411px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  background: #9f2624 url("../images/bg_texture.png");
}

.hero__news-desc {
  display: inline-block;
  padding: 16px 48px;
  background: rgba(0, 0, 0, 0.7);
}

.hero__news-desc a {
  text-decoration: underline;
}

.hero__news-desc a:hover {
  text-decoration: none;
}

.about {
  position: relative;
  overflow: hidden;
  padding-top: 88px;
  line-height: 1.5;
}

.about__bg--top {
  position: absolute;
  left: -10px;
  top: 0px;
  width: 0%;
  height: 400px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  overflow: hidden;
}

.about__bg--top img {
  height: 400px;
  width: auto;
  z-index: -1;
}

.about__bg--bottom {
  position: absolute;
  left: -200px;
  bottom: 20px;
  width: 0%;
  height: 350px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  overflow: hidden;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.about__bg--bottom img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 350px;
  width: auto;
  z-index: -1;
}

.about__sub-title {
  padding-bottom: 12px;
  margin-bottom: 32px;
  color: currentColor;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
}

.about__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  padding: 80px;
  background: #fff url("../images/bg_texture.png");
  -webkit-box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.3);
}

.about strong {
  display: block;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.25rem;
}

.colle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colle__panel-area {
  width: 80%;
  margin: 0 auto;
}

.colle__sub-title {
  padding-bottom: 12px;
  margin-bottom: 64px;
  color: #5a494c;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
  width: 30%;
  padding-right: 2em;
  text-align: right;
}

.colle__panels {
  display: -ms-grid;
  display: grid;
  grid-template: "a p m" "a s s";
  gap: 32px;
  width: 100%;
  height: 600px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.colle__panels li {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 32px;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.02);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.02);
}

.colle__panels li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 35%;
     object-position: 50% 35%;
}

.colle__panel--a {
  grid-area: a;
  opacity: 0;
}

.colle__panel--p {
  grid-area: p;
  opacity: 0;
}

.colle__panel--m {
  grid-area: m;
  opacity: 0;
}

.colle__panel--s {
  grid-area: s;
  opacity: 0;
}

.colle__panel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 48px 24px 12px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, rgba(255, 255, 255, 0.8)), to(transparent));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 60%, transparent 100%);
  text-shadow: 0 0 4px #fff;
}

.colle__dress-name {
  color: #0c0c0c;
  margin-bottom: 0.4em;
  font-size: 1.35rem;
}

.colle__dress-name::first-letter {
  color: #d9ab42;
}

.colle__btn {
  display: inline-block;
  position: relative;
  width: 240px;
  font-size: 1.25rem;
  color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  height: 46.25px;
  text-align: center;
  margin-left: auto;
  margin-top: 48px;
}

.colle__btn a {
  display: block;
  padding: 0.75em 1em;
}

.colle__btn::before {
  background: #9f2624 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.colle__btn:hover::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.colle__btn::after {
  background: #b42b29 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.colle__btn:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.colle__btn::before {
  z-index: 1;
}

.colle__btn::after {
  z-index: 1;
}

.colle__btn a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75em 1em;
  z-index: 2;
}

.loca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.loca--inner {
  width: 100%;
}

.loca__sub-title {
  padding-bottom: 12px;
  margin-bottom: 64px;
  color: currentColor;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
  width: 30%;
  padding-right: 2em;
  text-align: right;
}

.loca__bg {
  position: relative;
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  border-radius: 64px;
  background: center no-repeat;
  background-size: cover;
}

.loca__secret-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 64px;
}

.loca__text {
  position: absolute;
  right: -3%;
  bottom: 150px;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  background: #fff url("../images/bg_texture.png");
  z-index: 5;
}

.loca__review {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 30%;
  padding: 32px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.loca__review-title {
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom: 1em;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 2px solid #d9ab42;
}

.loca__review-text {
  line-height: 1.5;
  margin-bottom: 16px;
  font-family: sans-serif;
}

.loca__review-name {
  display: block;
  text-align: right;
  font-size: 0.95rem;
}

.loca__review-bar {
  position: absolute;
  bottom: 0;
  left: 64px;
  right: 64px;
  height: 4px;
  overflow: hidden;
}

.loca__review-bar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d9ab42;
  -webkit-animation: timeBar 30s infinite linear;
          animation: timeBar 30s infinite linear;
}

.proc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proc--inner {
  width: 100%;
}

.proc__sub-title {
  padding-bottom: 12px;
  margin-bottom: 48px;
  color: currentColor;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
  width: 30%;
  padding-right: 2em;
  text-align: right;
}

.proc__process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
  max-width: 980px;
  margin: 0 auto;
}

.proc__process li {
  position: relative;
  width: calc(100% / 4);
  padding: 0 16px;
  text-align: center;
}

.proc__process li img {
  width: 95%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.proc__process li.--mar {
  padding-top: 32px;
}

.proc__process li:not(.--noarrow)::after {
  display: block;
  content: "";
  background: url("../images/right-arrow.png") no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: -12px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.proc__num {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.proc__num::first-letter {
  color: #d9ab42;
}

.proc__name {
  font-size: 1.35rem;
  margin: 8px 0 24px;
}

.proc__img {
  width: 90%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.proc__detail {
  margin-top: 24px;
  text-align: left;
  line-height: 1.5;
}

.service {
  height: auto;
  padding: 114px 0;
  background: #fff;
  margin-top: 96px;
}

.service__sub-title {
  padding-bottom: 12px;
  margin-bottom: 48px;
  color: currentColor;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
  width: 30%;
  padding-right: 2em;
  text-align: right;
}

.service table {
  margin: auto;
}

.service td,
.service th {
  padding: 1em;
}

.service th {
  position: relative;
  padding-right: calc(48px + 1em);
  color: #7f7f7f;
  font-weight: normal;
  text-align: right;
}

.service th:after {
  display: block;
  content: "";
  width: 48px;
  height: 2px;
  background-color: #d9ab42;
  position: absolute;
  top: calc(1em + 0.5em - 1px);
  right: 0px;
}

.service td li + li {
  margin-top: 7px;
}

.faq {
  height: auto;
  padding: 130px 0;
}

.faq__sub-title {
  padding-bottom: 12px;
  margin-bottom: 48px;
  color: currentColor;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
  width: 30%;
  padding-right: 2em;
  text-align: right;
}

.faq__accordion {
  width: 80%;
  margin: auto;
}

.faq__accordion-item {
  border-top: 1px solid #a89497;
}

.faq__accordion-item:last-of-type {
  border-bottom: 1px solid #a89497;
}

.faq .js-accordion-trigger {
  position: relative;
}

.faq .js-accordion-trigger::after {
  content: url("../images/plus.svg");
  display: block;
  position: absolute;
  right: 1em;
  top: calc(1.25rem / 2 + 1.25rem * 2 - 16px);
  width: 32px;
  height: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.faq .js-accordion-trigger.is-active::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.faq__accordion-title {
  padding: 2em 1.5em;
  font-size: 1.25rem;
  font-weight: normal;
  cursor: pointer;
}

.faq__accordion-title::before {
  display: inline-block;
  content: "Q.";
  margin-right: 10px;
  color: #d9ab42;
}

.faq__accordion-content {
  display: none;
  cursor: pointer;
  padding: 1em 1.75em;
  line-height: 1.5;
}

.faq__accordion-content.is-open {
  display: block;
}

.faq__accordion-content::before {
  display: inline-block;
  content: "A.";
  margin-right: 10px;
  color: #d9ab42;
}

.faq__accordion-content a {
  text-decoration: underline;
}

.faq__accordion-content a:hover {
  text-decoration: none;
}

.go-contact {
  padding-bottom: 72px;
  text-align: center;
  font-size: 1.5rem;
}

.go-contact div {
  display: inline-block;
  margin-top: 56px;
  color: #9f2624;
  font-weight: bold;
  -webkit-transform: rotate(-90deg) scaleY(1.5);
          transform: rotate(-90deg) scaleY(1.5);
}

.go-contact div span:first-child {
  -webkit-animation: changeArrowsColor 3.75s infinite linear;
          animation: changeArrowsColor 3.75s infinite linear;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.go-contact div span:nth-child(2) {
  -webkit-animation: changeArrowsColor 3.75s infinite linear;
          animation: changeArrowsColor 3.75s infinite linear;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.go-contact div span:last-child {
  -webkit-animation: changeArrowsColor 3.75s infinite linear;
          animation: changeArrowsColor 3.75s infinite linear;
}

.contact {
  height: auto;
  padding: 114px 4% calc(114px + (114px - 48px));
  text-align: center;
}

.contact__btn {
  display: inline-block;
  position: relative;
  width: 50%;
  font-size: 1.25rem;
  color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  overflow: hidden;
  font-size: 1.75em;
  -webkit-box-shadow: 0 0 16px -8px black;
          box-shadow: 0 0 16px -8px black;
}

.contact__btn a {
  display: block;
  padding: 0.75em 1em;
}

.contact__btn::before {
  background: #9f2624 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.contact__btn:hover::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.contact__btn::after {
  background: #b42b29 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.contact__btn:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contact__btn a {
  padding: 1em 2em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding: 48px;
}

.footer a {
  margin-right: 1.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer a:hover {
  opacity: 0.6;
}

.ct_contact-main {
  margin: 88px auto;
  padding: 0 4%;
  text-align: center;
  max-width: 1100px;
}

.ct_other {
  margin: 64px 0;
}

.ct_other a {
  font-weight: bold;
  text-decoration: underline;
}

.ct_other a:hover {
  text-decoration: none;
}

.form {
  font-size: 16px;
}

.form__sub-title {
  display: inline-block;
  padding: 8px;
  font-size: 2rem;
  border-bottom: 4px solid #d9ab42;
}

.form__table {
  width: 100%;
  text-align: left;
}

.form__table .--require::after {
  content: '必須';
  margin-left: 8px;
  padding: 2px 4px;
  font-size: .7rem;
  color: #fff;
  background-color: #9f2624;
}

.form__table th, .form__table td {
  padding: 32px 0;
  vertical-align: middle;
}

.form__table th {
  width: 30%;
}

.form__table fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 2px;
}

.form__table fieldset[name="address"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__table fieldset[name="address"] .item {
  width: 100%;
  margin: 8px 0;
}

.form__table fieldset[name="address"] .item input {
  width: 50%;
}

.form__table .item {
  margin-right: 32px;
}

.form__table .item span {
  margin: 0 4px;
}

.form__table small {
  margin-left: 8px;
  color: rgba(90, 73, 76, 0.7);
}

.form__table label {
  margin-right: 1em;
}

.form__table input {
  padding: 1em 1em;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
}

.form__table input:focus {
  border-color: #d9ab42;
}

.form__table input[type="email"] {
  width: 80%;
}

.form__table select {
  position: relative;
  display: block;
  width: 200px;
  margin-right: auto;
  padding: 1em;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  background-image: linear-gradient(45deg, transparent 50%, #9f2624 50%), linear-gradient(135deg, #9f2624 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

.form__table textarea {
  width: 80%;
  padding: 1em;
  min-height: 320px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
}

.form__table textarea:focus {
  border-color: #d9ab42;
}

.form__submit {
  display: inline-block;
  position: relative;
  width: 40%;
  font-size: 1.25rem;
  color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  overflow: hidden;
  font-size: 2rem;
  margin-top: 56px;
}

.form__submit a {
  display: block;
  padding: 0.75em 1em;
}

.form__submit::before {
  background: #9f2624 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form__submit:hover::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.form__submit::after {
  background: #b42b29 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form__submit:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.form__submit input {
  padding: 0.5em 1em;
}

@media screen and (max-width: 680px) {
  .hd {
    display: none;
  }
  .hdmob {
    display: block;
  }
  .sec-w {
    width: 100%;
  }
  .hero__sitename {
    width: 90%;
    top: 144px;
    left: 50%;
  }
  .hero__bg {
    width: 92%;
    margin: 0 auto;
    background-size: contain;
    background-position: center 80%;
  }
  .hero__catch {
    top: 30%;
    font-size: 1.5rem;
    line-height: 1.75em;
  }
  .hero__catch--1, .hero__catch--2 {
    padding: 8px 0;
    background: #fff;
  }
  .about {
    display: block;
    height: auto;
    background: #fff;
    padding: 64px 0;
  }
  .about__desc {
    position: static;
    width: 100%;
    height: auto;
    padding: 0 4%;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
  }
  .about__bg--top {
    display: none;
  }
  .about__bg--bottom {
    display: none;
  }
  .colle {
    height: auto;
    padding: 64px 0;
  }
  .colle__sub-title {
    width: 90%;
    padding-right: 1em;
    margin-bottom: 32px;
  }
  .colle__panel-area {
    width: 90%;
  }
  .colle__panels {
    display: block;
    height: auto;
  }
  .colle__panels li {
    height: 320px;
    margin-bottom: 24px;
  }
  .loca {
    height: auto;
    padding: 64px 0;
  }
  .loca__sub-title {
    width: 90%;
    padding-right: 1em;
    margin-bottom: 32px;
  }
  .loca__bg {
    width: 100%;
    background-position: center bottom;
    border-radius: 0px;
  }
  .loca__review {
    width: 100%;
    top: unset;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  .loca__review-bar {
    left: 0;
    right: 0;
  }
  .loca__text {
    font-size: 1.25rem;
    bottom: unset;
    top: 48px;
    right: 0px;
  }
  .loca__secret-bg {
    border-radius: 0;
  }
  .proc {
    height: auto;
    padding: 64px 0;
  }
  .proc__sub-title {
    width: 90%;
    padding-right: 1em;
    margin-bottom: 32px;
  }
  .proc__process {
    width: 92%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .proc__process li {
    width: 100%;
    padding: 0;
    margin-bottom: 88px;
  }
  .proc__process li.--mar {
    padding: 0;
  }
  .proc__process li::after {
    display: block;
    content: "";
    background: url("../images/right-arrow.png") no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    top: unset !important;
    position: absolute !important;
    bottom: -60px !important;
    left: calc(50% - 12px) !important;
    -webkit-transform: rotate(90deg) !important;
            transform: rotate(90deg) !important;
  }
  .proc__process li.--noarrow.--mar {
    margin-bottom: 0;
  }
  .proc__process li.--noarrow.--mar::after {
    display: none;
  }
  .proc__name {
    margin-top: 0;
  }
  .proc__detail {
    padding: 0 16px;
  }
  .service {
    padding: 64px 0;
    margin-top: 0;
  }
  .service__sub-title {
    width: 90%;
    padding-right: 1em;
    margin-bottom: 32px;
  }
  .service__table th, .service__table td {
    display: block;
    width: 100%;
  }
  .service__table th {
    padding-bottom: 0;
    text-align: left;
  }
  .service__table th::after {
    width: 30%;
  }
  .service__table td {
    padding-left: 1.5em;
  }
  .faq {
    padding: 64px 0;
  }
  .faq__sub-title {
    width: 90%;
    padding-right: 1em;
    margin-bottom: 32px;
  }
  .faq__accordion {
    width: 92%;
    margin: auto;
  }
  .faq__accordion-title {
    padding-right: 3em;
    font-size: 1rem;
  }
  .faq__accordion-content {
    padding-right: 3rem;
    padding-top: 0;
  }
  .faq .js-accordion-trigger::after {
    width: 24px;
    height: 24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .contact {
    padding: 64px 0;
  }
  .contact__btn {
    width: 80%;
  }
  .footer {
    display: block;
    padding: 64px 4% 1em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(20%, #fff));
    background: linear-gradient(to bottom, transparent 20%, #fff 20% 100%);
  }
  .footer__requires {
    margin-bottom: 24px;
  }
  .footer__requires * {
    display: block;
    margin-bottom: 1em;
  }
  .ct_contact-main {
    padding-left: 4%;
    padding-right: 4%;
  }
  .ct_other {
    margin: 32px 0;
  }
  .form__content {
    width: 100%;
  }
  .form__sub-title {
    font-size: 1.8rem;
  }
  .form__table th, .form__table td {
    display: block;
    width: 100%;
    padding: 0;
  }
  .form__table th {
    padding-bottom: 1em;
  }
  .form__table td {
    padding-bottom: 48px;
  }
  .form__table fieldset {
    display: block;
  }
  .form__table fieldset[name="address"] .item input {
    width: 100%;
  }
  .form__table select {
    width: 100%;
  }
  .form__table input {
    width: 100%;
  }
  .form__table input[type="email"] {
    width: 100%;
  }
  .form__table input[name='tel1'] {
    width: 25%;
  }
  .form__table input[name='tel2'] {
    width: 35%;
  }
  .form__table input[name='tel3'] {
    width: 25%;
  }
  .form__table input[name="postal-code1"] {
    width: 35%;
  }
  .form__table input[name="postal-code2"] {
    width: 45%;
  }
  .form__table label {
    display: inline-block;
    margin: 8px 0 4px;
  }
  .form__table .item {
    margin: 0;
  }
  .form__table textarea {
    width: 100%;
  }
  .form__submit {
    width: 75%;
    font-size: 1.5rem;
    margin-top: 16px;
  }
  .form__submit input {
    width: 100%;
    padding: 0.75em 1em;
  }
}
/*# sourceMappingURL=style.css.map */