@import url("https://cdn.jsdelivr.net/npm/destyle.css@2.0.2/destyle.css");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
.ChangeButtonsBg::before, .hd .nav__contact-btn::before, .hd .nav__contact-btn::after, .colle__btn::before, .colle__btn::after, .contact__btn::before, .contact__btn::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@-webkit-keyframes moveMenuLine {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes moveMenuLine {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes moveMenuLineHover {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveMenuLineHover {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes changeLocaBg {
  from {
    background-color: #eee6de;
  }
}

@keyframes changeLocaBg {
  from {
    background-color: #eee6de;
  }
}

@-webkit-keyframes changeLocaBg2 {
  to {
    background-color: transparent;
  }
}

@keyframes changeLocaBg2 {
  to {
    background-color: transparent;
  }
}

@-webkit-keyframes timeBar {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes timeBar {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes changeArrowsColor {
  0% {
    color: #9f2624;
  }
  16.7% {
    color: #fff;
  }
  33.333333% {
    color: #9f2624;
  }
  100% {
    color: #9f2624;
  }
}

@keyframes changeArrowsColor {
  0% {
    color: #9f2624;
  }
  16.7% {
    color: #fff;
  }
  33.333333% {
    color: #9f2624;
  }
  100% {
    color: #9f2624;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  font-family: 'Shippori Mincho', serif;
  font-size: 1rem;
  font-smooth: smooth;
  -webkit-font-smooth: smooth;
  -ms-font-smooth: smooth;
  color: #5a494c;
  background: #eee6de url("../images/bg_texture.png") fixed;
}

img {
  width: 100%;
}

p + p {
  margin-top: 1em;
  line-height: 1.5em;
}

.sec-w {
  position: relative;
  width: calc(100% - 240px);
  height: 100vh;
  margin-left: auto;
}

.hd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100vh;
  z-index: 1000;
  text-align: center;
  font-size: 1.125rem;
  color: #000;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.hd__title {
  font-size: 1rem;
  text-align: left;
}

.hd__logo {
  width: 75%;
  margin-top: 64px;
}

.hd .nav {
  margin-bottom: 78px;
}

.hd .nav__list {
  margin-bottom: 88px;
}

.hd .nav__list li {
  margin-bottom: calc(1.5em - 6px);
  line-height: 1em;
}

.hd .nav__list li a {
  display: inline-block;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 6px;
}

.hd .nav__list li a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  border-bottom: 1px solid currentColor;
  -webkit-animation: moveMenuLine .4s forwards;
          animation: moveMenuLine .4s forwards;
  z-index: -1;
}

.hd .nav__list li a:hover::before {
  -webkit-animation: moveMenuLineHover .4s forwards;
          animation: moveMenuLineHover .4s forwards;
}

.hd .nav__contact-btn {
  display: inline-block;
  position: relative;
  width: 80%;
  font-size: 1.25rem;
  color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  overflow: hidden;
}

.hd .nav__contact-btn a {
  display: block;
  padding: .75em 1em;
}

.hd .nav__contact-btn::before {
  background: #9f2624 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.hd .nav__contact-btn:hover::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.hd .nav__contact-btn::after {
  background: #b42b29 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.hd .nav__contact-btn:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hd.change {
  color: #fff;
  background: #9f2624 url("../images/bg_texture.png") fixed;
}

.hd.change .nav__contact-btn {
  color: #5a494c;
}

.hd.change .nav__contact-btn::before {
  background-color: #fff;
}

.hd.change .nav__contact-btn::after {
  background-color: whitesmoke;
}

main {
  width: 100%;
}

.hero__bg {
  width: 100%;
  height: 100%;
  background: url("../images/bg_hero.png") no-repeat center;
  background-size: auto 90%;
  background-position: calc(50% - 140px) center;
}

.hero__catch {
  position: absolute;
  right: 10%;
  top: 8%;
  letter-spacing: 4px;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5em;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}

.hero__catch--2 {
  margin-top: 2em;
}

.hero__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 5%;
  color: #fff;
}

.hero__time {
  position: relative;
  display: inline-block;
  padding: 16px 32px;
  background: #9f2624 url("../images/bg_texture.png");
  letter-spacing: 1px;
  border-radius: 4px 0 0 4px;
}

.hero__time::after {
  content: '';
  position: absolute;
  right: -16.31206px;
  top: 50%;
  display: block;
  width: 32.62411px;
  height: 32.62411px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  background: #9f2624 url("../images/bg_texture.png");
}

.hero__news-desc {
  display: inline-block;
  padding: 16px 48px;
  background: rgba(0, 0, 0, 0.7);
}

.hero__news-desc a {
  text-decoration: underline;
}

.hero__news-desc a:hover {
  text-decoration: none;
}

.about {
  position: relative;
  overflow: hidden;
  padding-top: 88px;
}

.about__bg--top {
  position: absolute;
  left: -10px;
  top: 0px;
  width: 0%;
  height: 400px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  overflow: hidden;
}

.about__bg--top img {
  height: 400px;
  width: auto;
  z-index: -1;
}

.about__bg--bottom {
  position: absolute;
  left: -200px;
  bottom: 20px;
  width: 0%;
  height: 350px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  overflow: hidden;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.about__bg--bottom img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 350px;
  width: auto;
  z-index: -1;
}

.about__sub-title {
  padding-bottom: 12px;
  margin-bottom: 32px;
  color: currentColor;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
}

.about__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  padding: 80px;
  background: #fff url("../images/bg_texture.png");
  -webkit-box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.3);
}

.colle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colle__panel-area {
  width: 80%;
  margin: 0 auto;
}

.colle__sub-title {
  padding-bottom: 12px;
  margin-bottom: 64px;
  color: #5a494c;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
  width: 30%;
  padding-right: 2em;
  text-align: right;
}

.colle__panels {
  display: -ms-grid;
  display: grid;
  grid-template: "a p m" "a s s";
  gap: 32px;
  width: 100%;
  height: 600px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.colle__panels li {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 32px;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.02);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.02);
}

.colle__panels li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 35%;
     object-position: 50% 35%;
}

.colle__panel--a {
  grid-area: a;
  opacity: 0;
}

.colle__panel--p {
  grid-area: p;
  opacity: 0;
}

.colle__panel--m {
  grid-area: m;
  opacity: 0;
}

.colle__panel--s {
  grid-area: s;
  opacity: 0;
}

.colle__panel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 48px 24px 12px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, rgba(255, 255, 255, 0.8)), to(transparent));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 60%, transparent 100%);
  text-shadow: 0 0 4px #fff;
}

.colle__dress-name {
  color: #0c0c0c;
  margin-bottom: .4em;
  font-size: 1.35rem;
}

.colle__dress-name::first-letter {
  color: #D9AB42;
}

.colle__btn {
  display: inline-block;
  position: relative;
  width: 240px;
  font-size: 1.25rem;
  color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  height: 46.25px;
  text-align: center;
  margin-left: auto;
  margin-top: 48px;
}

.colle__btn a {
  display: block;
  padding: .75em 1em;
}

.colle__btn::before {
  background: #9f2624 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.colle__btn:hover::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.colle__btn::after {
  background: #b42b29 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.colle__btn:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.colle__btn::before {
  z-index: 1;
}

.colle__btn::after {
  z-index: 1;
}

.colle__btn a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: .75em 1em;
  z-index: 2;
}

.loca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.loca--inner {
  width: 100%;
}

.loca__sub-title {
  padding-bottom: 12px;
  margin-bottom: 64px;
  color: currentColor;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
  width: 30%;
  padding-right: 2em;
  text-align: right;
}

.loca__bg {
  position: relative;
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  border-radius: 64px;
  background: center no-repeat;
  background-size: cover;
}

.loca__secret-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 64px;
}

.loca__text {
  position: absolute;
  right: -3%;
  bottom: 150px;
  padding: .5em 1em;
  font-size: 1.5rem;
  background: #fff url("../images/bg_texture.png");
  z-index: 5;
}

.loca__review {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 30%;
  padding: 32px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.loca__review-title {
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom: 1em;
  font-size: 1.25rem;
  font-weight: bold;
  color: #352b2d;
  border-bottom: 2px solid #D9AB42;
}

.loca__review-text {
  line-height: 1.5;
  margin-bottom: 16px;
  font-family: sans-serif;
}

.loca__review-name {
  display: block;
  text-align: right;
  font-size: .95rem;
}

.loca__review-bar {
  position: absolute;
  bottom: 0;
  left: 64px;
  right: 64px;
  height: 4px;
  overflow: hidden;
}

.loca__review-bar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #D9AB42;
  -webkit-animation: timeBar 30s infinite linear;
          animation: timeBar 30s infinite linear;
}

.proc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proc--inner {
  width: 100%;
}

.proc__sub-title {
  padding-bottom: 12px;
  margin-bottom: 48px;
  color: currentColor;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
  width: 30%;
  padding-right: 2em;
  text-align: right;
}

.proc__process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
  max-width: 980px;
  margin: 0 auto;
}

.proc__process li {
  position: relative;
  width: calc(100% / 4);
  padding: 0 16px;
  text-align: center;
}

.proc__process li img {
  width: 95%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.proc__process li.--mar {
  padding-top: 32px;
}

.proc__process li:not(.--noarrow)::after {
  display: block;
  content: "";
  background: url("../images/right-arrow.png") no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: -12px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.proc__num {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.proc__num::first-letter {
  color: #D9AB42;
}

.proc__name {
  font-size: 1.35rem;
  margin: 8px 0 24px;
}

.proc__img {
  width: 90%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.proc__detail {
  margin-top: 24px;
  text-align: left;
  line-height: 1.5;
}

.service {
  height: auto;
  padding: 114px 0;
  background: #fff;
  margin-top: 96px;
}

.service__sub-title {
  padding-bottom: 12px;
  margin-bottom: 48px;
  color: currentColor;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
  width: 30%;
  padding-right: 2em;
  text-align: right;
}

.service table {
  margin: auto;
}

.service td, .service th {
  padding: 1em;
}

.service th {
  position: relative;
  padding-right: calc(48px + 1em);
  color: #7f7f7f;
  font-weight: normal;
  text-align: right;
}

.service th:after {
  display: block;
  content: "";
  width: 48px;
  height: 2px;
  background-color: #D9AB42;
  position: absolute;
  top: calc(1em + 0.5em - 1px);
  right: 0px;
}

.service td li + li {
  margin-top: 7px;
}

.faq {
  height: auto;
  padding: 130px 0;
}

.faq__sub-title {
  padding-bottom: 12px;
  margin-bottom: 48px;
  color: currentColor;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9f2624;
  width: 30%;
  padding-right: 2em;
  text-align: right;
}

.faq__accordion {
  width: 80%;
  margin: auto;
}

.faq__accordion-item {
  border-top: 1px solid #a89497;
}

.faq__accordion-item:last-of-type {
  border-bottom: 1px solid #a89497;
}

.faq .js-accordion-trigger {
  position: relative;
}

.faq .js-accordion-trigger::after {
  content: url("../images/plus.svg");
  display: block;
  position: absolute;
  right: 1em;
  top: calc(1.25rem / 2 + 1.25rem * 2 - 16px);
  width: 32px;
  height: 32px;
  -webkit-transition: .3s;
  transition: .3s;
}

.faq .js-accordion-trigger.is-active::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.faq__accordion-title {
  padding: 2em 1.5em;
  font-size: 1.25rem;
  font-weight: normal;
  cursor: pointer;
}

.faq__accordion-title::before {
  display: inline-block;
  content: 'Q.';
  margin-right: 10px;
  color: #D9AB42;
}

.faq__accordion-content {
  display: none;
  cursor: pointer;
  padding: 1em 1.75em;
  line-height: 1.5;
}

.faq__accordion-content.is-open {
  display: block;
}

.faq__accordion-content::before {
  display: inline-block;
  content: 'A.';
  margin-right: 10px;
  color: #D9AB42;
}

.faq__accordion-content a {
  text-decoration: underline;
}

.faq__accordion-content a:hover {
  text-decoration: none;
}

.go-contact {
  padding-bottom: 72px;
  text-align: center;
  font-size: 1.5rem;
}

.go-contact div {
  display: inline-block;
  margin-top: 56px;
  color: #9f2624;
  font-weight: bold;
  -webkit-transform: rotate(-90deg) scaleY(1.5);
          transform: rotate(-90deg) scaleY(1.5);
}

.go-contact div span:first-child {
  -webkit-animation: changeArrowsColor 7.5s infinite;
          animation: changeArrowsColor 7.5s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.go-contact div span:nth-child(2) {
  -webkit-animation: changeArrowsColor 7.5s infinite;
          animation: changeArrowsColor 7.5s infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.go-contact div span:last-child {
  -webkit-animation: changeArrowsColor 7.5s infinite;
          animation: changeArrowsColor 7.5s infinite;
}

.contact {
  height: auto;
  padding: 114px 4% calc(114px + (114px - 48px));
  text-align: center;
}

.contact__btn {
  display: inline-block;
  position: relative;
  width: 50%;
  font-size: 1.25rem;
  color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  overflow: hidden;
  font-size: 1.75em;
  -webkit-box-shadow: 0 0 16px -8px black;
          box-shadow: 0 0 16px -8px black;
}

.contact__btn a {
  display: block;
  padding: .75em 1em;
}

.contact__btn::before {
  background: #9f2624 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.contact__btn:hover::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.contact__btn::after {
  background: #b42b29 url("../images/bg_texture.png") fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.contact__btn:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contact__btn a {
  padding: 1em 2em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding: 48px;
}

.footer a {
  margin-right: 1.5em;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer a:hover {
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */