@import url('https://cdn.jsdelivr.net/npm/destyle.css@2.0.2/destyle.css');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

// variable, function -------------------------------

$bg-color: #eee6de;
$main-color: #9f2624;
$bg-texture: url('../images/bg_texture.png');
$btn-color: #D9AB42;
$header-size: 240px;
$text: #5a494c;

.ChangeButtonsBg {
    &::before {
        display: block;
        content: '';
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index: -1;
    }
}

@mixin main-button($width, $bgColor) {
    display: inline-block;
    position: relative;
    width: $width;
    padding: .75em 1em;
    // background-color: $bgColor;
    // background-image: $bg-texture;
    font-size: 1.25rem;
    // font-weight: bold;
    color: #fff;
    vertical-align: middle;
    border-radius: 4px;
    overflow: hidden;

    &::before {
        @extend .ChangeButtonsBg::before;
        background: $main-color $bg-texture fixed;
        transform: translateX(0%);
        transition: all .4s;
    }
    &:hover::before {
        transform: translateX(100%);
    }
    &::after {
        @extend .ChangeButtonsBg::before;
        background: lighten($main-color, 5) $bg-texture fixed;
        transform: translateX(-100%);
        transition: all .4s;

    }
    &:hover::after {
        transform: translateX(0);
    }
}

@mixin sub-title($color, $margin) {
    padding-bottom: 12px;
    margin-bottom: $margin;
    color: $color;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid $main-color;
}

@keyframes moveMenuLine {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes moveMenuLineHover {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes changeLocaBg {
    from {
        background-color: #fff;
    }
}

@keyframes changeLocaBg2 {
    to {
        background-color: transparent;
    }
}

//config --------------------------------------------

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
}

body {
    font-family: 'Shippori Mincho', serif;
    font-size: 1rem;
    font-smooth: smooth;
    -webkit-font-smooth: smooth;
    -ms-font-smooth: smooth;
    color: $text;
}

img {
    width: 100%;
}

p + p {
    margin-top: 1em;
    line-height: 1.5em;
}

.sec-w {
    position: relative;
    width: calc(100% - 240px);
    // background: ;
    height: 100vh;
    margin-left: auto;
}

// header ---------------------------------------

.hd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $header-size;
    height: 100vh;
    z-index: 1000;
    // background-color: $main-color;
    background: $bg-color $bg-texture fixed;
    text-align: center;
    font-size: 1.125rem;
    color: #000;
    transition: all .4s;

    &__title {
        font-size: 1rem;
        text-align: left;
    }

    &__logo {
        width: 75%;
        margin-top: 32px + 32px;
    }

    .nav {
        margin-bottom: 14px + 32px + 32px;
        &__list {
            margin-bottom: 88px;

            li {
                margin-bottom: calc(1.5em - 6px);
                line-height: 1em;

                a {
                    display: inline-block;
                    position: relative;
                    overflow-x: hidden;
                    padding-bottom: 6px;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        bottom: 0px;
                        left: 0;
                        right: 0;
                        border-bottom: 1px solid currentColor;
                        // background-color: cyan;
                        animation: moveMenuLine .4s forwards;
                        z-index: -1;
                    }

                    &:hover::before {
                        animation: moveMenuLineHover .4s forwards;
                    }
                }
            }
        }

        &__contact-btn {
            @include main-button(80%, $main-color);
        }
    }

    &.change {
        color: #fff;
        background-color: $main-color;

        .nav__contact-btn {
            color: $text;
            &::before {
                background-color: #fff;
            }
            &::after {
                background-color: darken(#fff, 4);
            }
        }
    }
}

// main ------------------------------------------

main {
    width: 100%;
}

// hero ------------------------------------------

.hero {
    background: $bg-color $bg-texture fixed;

    &__bg {
        width: 100%;
        height: 100%;
        background: url("../images/bg_hero.png") no-repeat center;
        background-size: auto 90%;
        background-position: calc(50% - 140px) center;
    }

    &__catch {
        position: absolute;
        right: 10%;
        top: 8%;
        letter-spacing: 4px;
        font-size: 2rem;
        font-weight: normal;
        line-height: 1.5em;
        writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;

        &--2 {
            margin-top: 2em;
        }
    }

    &__news {
        display:flex;
        position: absolute;
        right: 0;
        bottom: 5%;
        color: #fff;
    }

    &__time {
        position: relative;
        display: inline-block;
        padding: 16px 32px;
        background: $main-color $bg-texture;
        letter-spacing: 1px;
        border-radius: 4px 0 0 4px;

        // &::before {
        //     content: '';
        //     position: absolute;
        //     left: -((14px + 16px + 16px) / 1.41 / 2);
        //     top: 50%;
        //     display: block;
        //     width: (14px + 16px + 16px) / 1.41;
        //     height: (14px + 16px + 16px) / 1.41;
        //     transform:translateY(-50%) rotate(45deg);
        //     background: $main-color $bg-texture;
        // }

        &::after {
            content: '';
            position: absolute;
            right: -((14px + 16px + 16px) / 1.41 / 2);
            top: 50%;
            display: block;
            width: (14px + 16px + 16px) / 1.41;
            height: (14px + 16px + 16px) / 1.41;
            transform:translateY(-50%) rotate(45deg);
            background: $main-color $bg-texture;
        }
    }

    &__news-desc {
        display: inline-block;
        padding: 16px 48px;
        background: rgba(0, 0, 0, 0.7);

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            } 
        }
    }
}

// about -----------------------------------

.about {
    position: relative;
    overflow: hidden;
    background: $bg-color $bg-texture fixed;
    padding-top: 88px;

    &__bg {
        &--top {
            position: absolute;
            left: -10px;
            top: 0px;
            width: 0%;
            height: 400px;
            transform: rotate(5deg);
            overflow: hidden;

            img {
                height: 400px;
                width: auto;
                z-index: -1;
            }
        }

        &--bottom {
            position: absolute;
            // right: -400px;
            left: -200px;
            bottom: 20px;
            width: 0%;
            height: 350px;
            transform: rotate(-10deg);
            overflow: hidden;
            transform-origin: right;

            img {
                object-fit: contain;
                height: 350px;
                width: auto;
                z-index: -1;
            }
        }
    }

    &__sub-title {
        @include sub-title(currentColor, 32px)
    }

    &__desc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 50;
        padding: 80px;
        background: #fff $bg-texture;
        box-shadow: 2px 2px 10px -3px rgba(0,0,0,0.3);
    }
}

// collection -----------------------------------

.colle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-color $bg-texture fixed;

    &__panel-area {
        width: 80%;
        margin: 0 auto;
    }

    &__sub-title {
        @include sub-title($text, 64px);
        width: 30%;
        padding-right: 2em;
        text-align: right;
    }

    &__panels {
        display: grid;
        grid-template:
            "a p m"
            "a s s"
        ;
        gap: 32px;
        width: 100%;
        height: 600px;
        transform: translateY(20px);

        li {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 32px;
            box-shadow: 2px 2px 8px rgba(0,0,0,0.02);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 35%;
            }
        }
    }

    &__panel {
        &--a {
            grid-area: a;
            opacity: 0;
        }
        &--p {
            grid-area: p;
            opacity: 0;
        }
        &--m {
            grid-area: m;
            opacity: 0;
        }
        &--s {
            grid-area: s;
            opacity: 0;
        }
    }

    &__panel-text {
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
        padding: 48px 24px 12px;
        background: linear-gradient(to top, rgba(255,255,255,0.8) 60%, transparent 100%);
        text-shadow: 0 0 4px #fff;
    }

    &__dress-name {
        color: #0c0c0c;
        margin-bottom: .4em;
        font-size: 1.35rem;
    }

    &__btn {
        @include main-button(240px, $main-color);
        display: block;
        height: 46.25px;
        text-align: center;
        margin-left: auto;
        margin-top: 48px;

        &::before {
            z-index: 1;
        }
        &::after {
            z-index: 1;
        }

        a {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: .75em 1em;
            z-index: 2;
        }
    }
}

// ご利用場面 ------------------------------------

.loca {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: $bg-color $bg-texture fixed;

    &--inner {
        width: 100%;
    } 

    &__sub-title {
        @include sub-title(currentColor, 64px);
        width: 30%;
        padding-right: 2em;
        text-align: right;
    }

    &__bg {
        position: relative;
        width: 80%;
        height: 70vh;
        margin: 0 auto;
        border-radius: 64px;
        background: center no-repeat;
        background-size: cover;
    }

    &__secret-bg {
        position: absolute;
        top:0;
        left: 0;
        bottom:0;
        right:0;
        border-radius: 64px;
    }

    &__text {
        position: absolute;
        right: -3%;
        bottom: 150px;
        padding: .5em 1em;
        font-size: 1.5rem;
        background: #fff $bg-texture;
        z-index: 5;
    }

    &__review {
        position: absolute;
        top: 10%;
        right: 10%;
        width: 30%;
        padding: 32px;
        background: rgba(255,255,255,0.6);
    }

    &__review-title {
        margin-bottom: 1em;
        font-size: 1.25rem;
        font-weight: bold;
        color: #0c0c0c
    }

    &__review-text {
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 16px;
    }

    &__review-name {
        font-size: .9rem;
    }
}

//事例紹介 ----------------------------------

.proc {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-color $bg-texture fixed;

    &--inner {
        width: 100%;
    }

    &__sub-title {
        @include sub-title(currentColor, 64px);
        width: 30%;
        padding-right: 2em;
        text-align: right;
    }

    &__process {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 75%;
        max-width: 1100px;
        margin: 0 auto;

        li {
            position: relative;
            width: calc(100% / 4);
            padding: 16px;
            text-align: center;

            img {
                width: 95%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }

            &.--mar {
                padding-top: 40px;
            }
        }

        li:not(.--noarrow) {
            &::after {
                display: block;
                content: "";
                background: url('../images/right-arrow.png') no-repeat;
                background-size: contain;
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                right: -12px;
                transform: translateY(50%);
            }
        }
    }

    &__num {
        font-size: 2rem;
        font-weight: bold;
    }

    &__name {
        font-size: 1.35rem;
        margin: 8px 0 24px
    }

    &__img {
        width: 90%;
        height: auto;
        margin: 0 auto;
        border-radius: 50%;
    }

    &__detail {
        margin-top: 24px;
        text-align: left;
        line-height: 1.5;
    }
}